version: "3"
services:
  caddy:
    image: abiosoft/caddy
    container_name: caddy
    hostname: caddy
    restart: unless-stopped
    network_mode: host
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CADDYPATH=/etc/caddycerts
      - IP=
      - DOMAIN=
      - EMAIL=
      - CF_API_TOKEN=
    volumes:
      - /opt/docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /opt/docker/caddy/data:/data
      - /opt/docker/caddy/config:/config
      - /opt/docker/caddy/config/certs:/etc/caddycerts
  plex:
    image: plexinc/pms-docker
    container_name: plex
    hostname: plex
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /opt/docker/plex/config/plex:/config
      - /opt/docker/plex/transcode:/transcode
      - /opt/docker/plex/storage:/data
  networks:
    default:
      external:
        name:
